# Aula 03 - Leitura de Dados Estruturados e Semiestruturados

## **Resumo**: Exerícios de leituras de dados estruturados (tabelas) e semiestruturados (JSON), a partir de dados fictícios de uma folha de pagamentos com mais de cinco mil indivíduos.

# I CARREGAMENTO DOS PACOTES NECESSÁRIOS

In [1]:
import os
import pandas as pd
import numpy as np

from pathlib import Path

# 1 DIRETÓRIOS

In [5]:
# Use seu diretório de escolha
os.chdir("G:\\Meu Drive\\Selection\\esm_selection")
os.getcwd()

'G:\\Meu Drive\\Selection\\esm_selection'

In [6]:
root_dir   = Path(os.getcwd())
input_dir  = Path(root_dir, "Data/Input")
output_dir = Path(root_dir, "Data/Output")
output_dir

WindowsPath('G:/Meu Drive/Selection/esm_selection/Data/Output')

# Exercício 1: Leitura de Dados Estruturados

In [8]:
# a)
pagamentos_comma  = pd.read_table(Path(input_dir, "Folha_pagamento_comma.txt"),
                                  sep = ",",
                                  index_col = False)
pagamentos_pipe   = pd.read_table(Path(input_dir, "Folha_pagamento_pipe.txt"), 
                                  sep = "|",
                                  index_col = False, decimal = ",")
pagamentos_scolon = pd.read_table(Path(input_dir, "Folha_pagamento_scolon.zip"),
                                  sep = ";",
                                  index_col = False, decimal = ",")

pagamentos_pipe

           Nome      CPF_fake   Salário  Encargos
0         AÉLIO  908777362057  22771.88       634
1          ALDA  324268288911  20637.56       538
2     ALEXANDRE  766148980149  27527.34       330
3         ALINE  575223597306  29147.30       641
4           ANA  900619489281  37617.30       789
...         ...           ...       ...       ...
7958      LÍVIA  987599552888   9450.06       341
7959      MAÍNE  577833528199  25498.86       797
7960   MANUELLA  920324446993  14134.42       808
7961   MARCELLA  631234133516  27519.14       818
7962    MARCELO  177894774588  20402.04       583

[7963 rows x 4 columns]

In [9]:
# b)
# pagamentos_comma.info()
# pagamentos_pipe.info()
pagamentos_scolon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7963 entries, 0 to 7962
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      7963 non-null   object
 1   CPF_fake  7963 non-null   int64
 2   Salário   7963 non-null   float64
 3   Encargos  7963 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 249.0+ KB

In [10]:
# c)

# Tipos
types = {"CPF_fake": "str",
         "Salário": "float32",
         "Encargos": "int16"}

# Leitura
pagamentos_comma  = pd.read_table(Path(input_dir, "Folha_pagamento_comma.txt"), sep = ",",
                                  index_col = False, dtype = types)
pagamentos_pipe   = pd.read_table(Path(input_dir, "Folha_pagamento_pipe.txt"), sep = "|",
                                  index_col = False, decimal = ",", dtype = types)
pagamentos_scolon = pd.read_table(Path(input_dir, "Folha_pagamento_scolon.zip"), sep = ";",
                                  index_col = False, decimal = ",", dtype = types)

# Verificação
pagamentos_comma.info()
# pagamentos_pipe.info()
# pagamentos_scolon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7963 entries, 0 to 7962
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      7963 non-null   object
 1   CPF_fake  7963 non-null   object
 2   Salário   7963 non-null   float32
 3   Encargos  7963 non-null   int16
dtypes: float32(1), int16(1), object(2)
memory usage: 171.2+ KB

In [11]:
# d)
pagamentos_excel  = pd.read_excel(Path(input_dir, "Folha_pagamento_excel.xlsx"), 
                                  sheet_name = "Plan1")
pagamentos_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7963 entries, 0 to 7962
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      7963 non-null   object
 1   CPF_fake  7963 non-null   int64
 2   Salário   7963 non-null   float64
 3   Encargos  7963 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 249.0+ KB

# Exercício 2: Leitura de Dados Semiestruturados

In [13]:
# Tipos
types = {"CPF_fake": "str",
         "Salário": "float32",
         "Encargos": "int16"}

# Leitura
pagamentos_records = pd.read_json(Path(input_dir, "pagamentos_json_records.json"), 
                                  orient = "records", dtype = types)

pagamentos_split = pd.read_json(Path(input_dir, "pagamentos_json_split.json.zip"), 
                                orient = "split", dtype = types)

pagamentos_columns = pd.read_json(Path(input_dir, "pagamentos_json_columns.json.zip"), 
                                  orient = "columns", dtype = types)

pagamentos_index = pd.read_json(Path(input_dir, "pagamentos_json_index.json.gz"), 
                                orient = "index", dtype = types)
# Verificação

pagamentos_records
# pagamentos_split
# pagamentos_columns
# pagamentos_index

           Nome      CPF_fake       Salário  Encargos
0         AÉLIO  908777362057  22771.880859       634
1          ALDA  324268288911  20637.560547       538
2     ALEXANDRE  766148980149  27527.339844       330
3         ALINE  575223597306  29147.300781       641
4           ANA  900619489281  37617.300781       789
...         ...           ...           ...       ...
7958      LÍVIA  987599552888   9450.059570       341
7959      MAÍNE  577833528199  25498.859375       797
7960   MANUELLA  920324446993  14134.419922       808
7961   MARCELLA  631234133516  27519.140625       818
7962    MARCELO  177894774588  20402.039062       583

[7963 rows x 4 columns]

# Exercício 3: Exportação e Seriealização

In [14]:
pagamentos = pagamentos_excel

# a)
pagamentos.to_csv(Path(output_dir, "pagamentos_comma.csv"), sep = ",", decimal = ".")

# b)
pagamentos.to_csv(Path(output_dir, "pagamentos_scolon.csv.gz"), sep = ";", decimal = ",")

# c)
pagamentos.to_excel(Path(output_dir, "pagamentos_excel.xlsx.zip"))

# d)
pagamentos.to_json(Path(output_dir, "pagamentos_json_records.json.xz"), orient = "records",
                   indent = 1)